@import "_variables";

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

.none {
    display: none;

    @media (min-width: 640px) {
        display: inline;
    }
}

.hidden {
    display: none;
}

header {
    height: 74px;
    background-color: #222222;
    padding: 18px 16px;
    box-sizing: border-box;

    @media (min-width: 640px) {
        padding: 18px 32px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .lable {
        color: #e8e8e8;
    }

    .lableSearch {
        margin-left: 41px;
    }

    .lableBasketWrap {
        position: relative;

        span {
            display: inline-block;
            width: 19px;
            height: 19px;
            color: white;
            background-color: $majorColor;
            border-radius: 50%;
            font-size: 12px;
            position: absolute;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            top: -22px;
            left: 27px;
        }
    }
    .lablePerson {
        @media (min-width: 640px) {
            margin-left: 25px;
            margin-right: 42px;
        }
    }
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.newArrivals {
    min-height: 148px;
    background: #f8f3f4;

    .container {
        display: flex;
        flex-direction: column;
        min-height: inherit;
        align-items: center;

        @media (min-width: 640px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (min-width: 640px) and (max-width: 1599px) {
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    h1 {
        margin-top: 24px;
        margin-bottom: 32px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28.8px;
        color: $majorColor;

        @media (min-width: 640px) {
            margin: 0px;
        }
    }

    nav {
        a {
            text-decoration: none;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;

            &:last-of-type {
                font-weight: 700;
                color: $majorColor;
            }
        }
        span {
            color: #636363;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}

.slider {
    min-height: 624px;
    border: 1px solid #eaeaea;
    background: #f7f7f7;
    position: relative;

    @media (min-width: 1140px) {
        min-height: 777px;
    }

    .slideImage {
        padding-top: 85px;
        max-width: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;

        @media (min-width: 768px) {
            padding-top: 29px;
        }

        @media (min-width: 1140px) {
            padding-top: 11px;
        }
    }

    .sliderLeftArrow,
    .sliderRightArrow {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: calc(50% - 47px / 2);
        cursor: pointer;
    }

    .sliderLeftArrow {
        left: 0%;
        background-image: url(#{$imagesPath}/product/sliderleftArrow.svg);

        &:hover {
            background-image: url(#{$imagesPath}/product/sliderLeftArrowHover.svg);
        }
    }

    .sliderRightArrow {
        right: 0%;
        background-image: url(#{$imagesPath}/product/sliderRightArrow.svg);

        &:hover {
            background-image: url(#{$imagesPath}/product/sliderRightArrowHover.svg);
        }
    }
}

.collection {
    padding: 64px 24px;
    border: 1px solid #eaeaea;
    background: white;
    margin-bottom: 64px;

    @media (min-width: 768px) {
        margin-bottom: 129px;
    }

    @media (min-width: 1600px) {
        position: relative;
        margin-top: -64px;
        padding-left: 0;
        padding-right: 0;
    }

    .collectionTitle {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $majorColor;
        text-align: center;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .collectionDividerPink {
        height: 3px;
        width: 63px;
        background: $majorColor;
        margin: 0 auto 12px;
    }

    .collectionDesc {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4d4d4d;
        text-align: center;
        margin-bottom: 32px;
    }

    .collectionText {
        font-weight: 300;
        font-size: 14px;
        line-height: 143.1%;
        text-align: center;
        color: #5e5e5e;
        margin-bottom: 32px;
        max-width: 326px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) {
            max-width: 555px;
        }
    }

    .collectionPrice {
        font-weight: 300;
        font-size: 24px;
        line-height: 130%;
        color: $majorColor;
        text-align: center;
        margin-bottom: 32px;
    }

    .collectionDividewGrey {
        height: 1px;
        width: 175px;
        margin: 0 auto 49px;
        background: #eaeaea;

        @media (min-width: 768px) {
            width: 642px;
        }
    }
    .collectionSizes {
        font-size: 10px;
        line-height: 12px;
        color: #6f6e6e;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 304px;
        margin-bottom: 64px;

        @media (min-width: 768px) {
            font-size: 14px;
            line-height: 17px;
            max-width: 373px;
        }

        img {
            margin-left: 3px;

            @media (min-width: 375px) {
                margin-left: 10px;
            }
        }
    }

    button {
        background: none;
        border: 1px solid $majorColor;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $majorColor;
        display: flex;
        align-items: center;
        padding: 15px 24px;
        margin: 0 auto;

        img {
            margin-right: 23px;
        }
    }
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;

    @media (min-width: 640px) {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 64px;
    }

    @media (min-width: 1000px) {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 96px;
    }

    .featuredItems {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;

        @media (min-width: 640px) {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }

        @media (min-width: 1000px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
    }

    .featuredItem {
        background-color: #f8f8f8;

        &:last-child {
            display: none;

            @media (min-width: 1000px) {
                display: block;
            }
        }

        &:hover .featuredImgDark {
            display: flex;
        }

        img {
            width: 100%;
            display: block;
        }

        .featuredImgWrap {
            position: relative;
        }

        .featuredImgDark {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(58, 56, 56, 0.86);
            display: none;
            justify-content: center;
            align-items: center;

            button {
                background: none;
                border: 1px solid white;
                color: white;
                display: flex;
                align-items: center;
                padding: 10px 14px;
                font-size: 14px;
                font-family: inherit;

                img {
                    width: 26px;
                    height: 24px;
                    margin-right: 11px;
                }
            }
        }

        .featuredData {
            margin-left: 16px;
            margin-right: 16px;

            .featuredName {
                margin-top: 25px;
                margin-bottom: 12.6px;
                font-size: 13px;
                font-weight: 400;
                color: #000000;
            }

            .featuredprice {
                font-size: 16px;
                color: $majorColor;
                margin-bottom: 20px;
            }
            .featuredDescription {
                margin-bottom: 18px;
                font-size: 14px;
                color: #5d5d5d;
                font-weight: 300;
            }
        }
    }
}

.subscribe {
    background: url(../img/subscribe/photosubscribe.png) no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 109px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 1200px) {
        padding-top: 97px;
        padding-bottom: 126px;
    }

    .container {
        @media (min-width: 1200px) {
            margin: 0 auto;
            width: 1140px;
            display: flex;
            justify-content: space-between;
        }
    }

    .subscribeLeft {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subscribeUserText {
            margin-top: 30px;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            color: #222224;
            max-width: 330px;
        }
    }

    .subscribeRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 65px;

        @media (min-width: 1200px) {
            margin-top: initial;
        }

        .subscribeTitle {
            font-weight: 700;
            font-size: 24px;
            color: #222224;
        }

        .subscribeTitle,
        .subscribeText {
            max-width: 271px;
            text-align: center;
        }

        .subscribeText {
            font-size: 14px;
            color: #222224;
            margin-bottom: 22px;
        }

        .subscribeForm {
            height: 47px;

            input {
                height: inherit;
                background: #e1e1e1;
                border: none;
                padding: 6px 21px;
                box-sizing: border-box;
                border-top-left-radius: 28px;
                border-bottom-left-radius: 28px;
                float: left;
                width: 185px;

                &::-webkit-input-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }

                &::-moz-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }

                &:-ms-input-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }

                &:-moz-placeholder {
                    color: #222224;
                    font-family: inherit;
                    opacity: 0.67;
                }
            }

            button {
                height: inherit;
                border: none;
                color: white;
                font-family: inherit;
                font-size: 14px;
                line-height: 17px;
                background: $majorColor;
                border-top-right-radius: 28px;
                border-bottom-right-radius: 28px;
                padding: 0 17px;
            }
        }
    }
}

.footer {
    background: #222224;
    padding: 43px 20px 10px;

    @media (min-width: 640px) {
        padding: 24px 32px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 640px) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
    }

    a {
        color: black;
        background-color: white;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:not(:last-child) {
            margin-right: 7px;
        }

        &:hover {
            background: $majorColor;
            color: white;
        }
    }

    .footerLeft {
        display: flex;
    }

    .footerRight {
        margin-top: 40px;
        color: white;
    }
}
